.container-header {
  align-content: center;
  background-color: #0A1633;
  display: flex;
  justify-content: flex-start;
}

.container-logo {
  padding: 10px;
}

.container-cowala-text {
  margin-left: 10px;
  margin-top: 30px;
}